{#
/**
 * @file distribution_leader.html.twig
 * Default theme implementation to present Leader data.
 *
 * This template is used when viewing Leader pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_distribution_leader()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('distribution_leader') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
